<app-header
  [testbeds]="testbeds"
  [title]="title">
</app-header>

<div class="faq-container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          FAQs
        </mat-panel-title>
      </mat-expansion-panel-header>

      <code>What is the lightning bolt in the corner of each box?</code>
      <p>The lightning bolt is used to turn an entire item on / off. This simulates removing that part from the testbed.</p>

      <mat-divider></mat-divider>

      <code>What does a "greyed out" box in a test venue mean?</code>
      <p>A greyed out box is an item that is currently offline.</p>

      <mat-divider></mat-divider>

      <code>How are times stored and displayed in the application?</code>
      <p>All times are stored and displayed in UTC.</p>

      <mat-divider></mat-divider>

      <code>Who has permission for viewing and editing?</code>
      <p>There is a LDAP group protecting the entire application, please contact your venue's representative to find out what group this is and who is inside it.</p>

      <mat-divider></mat-divider>

      <code>How do I add/remove items from the tracker?</code>
      <p>Items need to be manually added / removed for now by cmhansen, there's a future feature to allow admins to do this.</p>

      <mat-divider></mat-divider>
      <code>Who are the admin users for this tool?</code>
      <p>There is a LDAP group that determines who the admins are, please contact your venue's representative to find out who is inside it.</p>

      <div *ngIf="editGroups">
        <mat-divider></mat-divider>
        <code>What LDAP edit groups are available for testbeds to use?</code>
        <p>You can use any of the following: {{editGroups.join(', ')}}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          API Reference
        </mat-panel-title>
      </mat-expansion-panel-header>

      <code>GET {{url}}/testbeds</code>

      <p>Gets all the testbed objects including statuses and most recent changes for each item.</p>

      <mat-divider></mat-divider>

      <code>GET {{url}}/testbed/{{ '{' }}testbedId{{ '}' }}</code>

      <p>Gets a testbed object by id including statuses and most recent changes for each item.</p>

      <mat-divider></mat-divider>

      <code>GET {{url}}/items/{{ '{' }}itemId{{ '}' }}</code>

      <p>Gets an item by id along with the most recent change.</p>

      <mat-divider></mat-divider>

      <code>GET {{url}}/testbed/{{ '{' }}testbedId{{ '}' }}/items?itemId=293&itemId=184</code>

      <p>Gets all items by testbed id, or a list of distinct items by optional parameter itemId.</p>

      <mat-divider></mat-divider>

      <code>GET {{url}}/item-changes/{{ '{' }}itemId{{ '}' }}</code>

      <p>Gets the list of all the changes for a given item by <code>itemId</code>.</p>

      <mat-divider></mat-divider>

      <code>GET {{url}}/item-data/{{ '{' }}testbedId{{ '}' }}</code>

      <p>Gets all the item data and latest changes for each item for a given testbed by <code>testbedId</code>.</p>

      <mat-divider></mat-divider>

      <code>GET {{url}}/history/{{ '{' }}testbedId{{ '}' }}</code>

      <p>Gets the entire list of history for a given testbed by <code>testbedId</code>.</p>

      <mat-divider></mat-divider>

      <code>GET {{url}}/image/{{ '{' }}itemChangesId{{ '}' }}</code>

      <p>Gets the associated image for a given item change if it exists, by <code>itemChangesId</code>.</p>

      <mat-divider></mat-divider>

      <code>POST {{url}}/item-changes/{{ '{' }}itemId{{ '}' }}</code>

      <p>Creates a new history for a given item by <code>itemId</code>.</p>

      <span>Sample Payload:</span>
      <pre>
        <code [innerHtml]="itemChangesSamplePayload"></code>
      </pre>

      <p>The id and updated will both be auto generated by the backend when POSTing, so those both should be null inside the payload.</p>

      <mat-divider></mat-divider>

      <code>POST {{url}}/item-structure</code>

      <p>Creates a new testbed.</p>

      <span>Sample Payload:</span>
      <pre>
        <code [innerHtml]="sampleJsonPayload"></code>
      </pre>
    </mat-expansion-panel>
  </mat-accordion>
</div>
